body{
    margin: 0px;
    background-color: #F4F4F4;
    height: 100%;

}
.header{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #A03E3E;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px, 20px, 5px, 50px;
  }
  #logo_img{
    width: 45px;
    padding-left: 10px;
  }
  #header_img{
    width: 45px;
    padding-right: 30px;
  }
  .head_right{
    display: flex;
    align-items: center;
    margin-right: 50px;
    justify-content: space-between;
    
  }
  .head_left{
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .header p{
    font-family: 'Bruno Ace SC';
    font-size: 40px;
    font-weight:100;
    color: white;
    padding-left: 20px;
  }
.ukraina{
    font-size: 30px;
}
.title_box{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    font-size: 38px;
    margin-top: 40px;
    font-weight:600;
    
}
button{
    background:  #A03E3E;
    color: #FFFFFF;
    height: 33px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    border-radius: 4px;
    border: 0;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    align-items: center;
    margin: 10px 0 20px 0

}
button:hover{ 
    background-color: #623838;
    color: rgb(224, 224, 224);
}
footer {
    height: 50px;
    background: #75855D;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab';
    color: white;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab';
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.content > img{
    width: 500px;
}

.concertname{
    margin: 25px 0;
}

.price{
    font-size: 17px;
    font-weight: 500;
}

.seat{
    font-size: 17px;
    font-weight: 500;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
}


.seats{
    margin: 25px 0 10px 0;
}

@media screen and (max-width: 768px){
    .header p{
        font-size: 25px;
    }
    #header_img{
        width: 45px;
        padding-right: 10px;
    }
    .head_left{
        margin-left: 30px;
    }
    .ukraina{
        display: none;
    }
    .concertname{
        font-size: 15px;
        margin: 20px;
        align-self: center;
    }
    .content > img{
        width: 400px;
    }
}
@media screen and (max-width: 1100px){
    .ukraina{
        font-size: 20px;
    }
    .header p{
        font-size: 30px;
    }
}
