<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket.che</title>
    <link rel="stylesheet" href="/style_druzhba.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Heebo&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="content">
        <span class="concertname"></span>
        <img src="" alt="">
        <div class="price_block"><div class="price"></div><span class="price_num"></span></div>
    </div>

    <footer>
        <div><p>10% від суми йде у фонд ЗСУ</p></div>
    </footer>
    <script src="/script_druzhba.js"></script>
</body>
</html>