body{
    margin: 0px;
    background-color: #F4F4F4;
    height: 100%;

}
.header{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #A03E3E;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px, 20px, 5px, 50px;
}
#logo_img{
    width: 45px;
    padding-left: 5%;

}
#header_img{
    width: 45px;
}
.head_right{
    display: flex;
    align-items: center;
    margin-right: 6%;
    justify-content: space-between;
    width: 10%;
}
.head_left{
    display: flex;
    align-items: center;
    margin-left: 6%;
}
.header p{
    font-family: 'Bruno Ace SC';
    font-size: 40px;
    font-weight:100;
    color: white;
    padding-left: 20px;
}
.title_box{
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    font-size: 38px;
    margin-top: 40px;
    font-weight:600;
}

footer {
    height: 50px;
    background: #75855D;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab';
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab';
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.content > img{
    width: 500px;
}

.concertname{
    margin: 10px 0;
}

.price{
    font-size: 17px;
    font-weight: 500;
}

.seat{
    font-size: 17px;
    font-weight: 500;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.seat > *{
    margin-top: 10px;
}
.seat:last-of-type > *{
    margin-bottom: 10px;
}